<launch>
  <arg name="mav_name" default="airsim_qc" />
  <arg name="enable_logging" default="true" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="DEBUG" value="true" />
  <arg name="nbvp/gain/range" default="1"/>
  <arg name="nbvp/tree/extension_range" default="2.5"/>
  <arg name="CLCT_DATA" value="true" />
  <!-- orb slam location--> 
  <arg name="orb_slam2_dir" value="$(find ORB_SLAM2)/../../.."/> 
  <arg name="planning_resolution" default=".8"/>
  <arg name="mapping_resolution" default=".1" />
  <arg name="coverage_threshold" default="50"/>


  <param name="enable_statistics" value="true"/>
  <!-- stat file-->
  <param name="stats_file_addr" value="$(find mapping_and_sar)/../data/mapping/stats.json" />
  <param name="supervisor_mailbox" value="$(find mapping_and_sar)/../data/mapping/supervisor_mailbox.txt" />
  <param name="status_monitor_rate" value="100" />

  <!--node pkg="tf" type="static_transform_publisher" name="tf_53" args="0 0 0 0 0 0 world world 100" /-->
    
    <!-- Set the localization method -->
    <!--arg name="localization_method" value="orb_slam2_rgbd" /-->
    <!--arg name="localization_method" value="ground_truth" /-->
    <arg name="localization_method" value="gps" />
    <!--arg name="localization_method" value="vins_mono"/-->

    <!-- node pkg="tf" type="static_transform_publisher" name="tf_53" args="0 0 0 0 0 0 $(arg localization_method) camera 100" /-->

    <!-- Behzad's workstation ip --> 
    <!-- arg name="host_ip" value="10.157.34.101" /--> 
    <arg name="host_ip" value="10.157.90.51" />
    <!--arg name="host_ip" value="169.254.153.158" /-->
    <!-- Hasans's workstation ip --> 
    <!--arg name="host_ip" default="10.157.90.49" /-->
    <!-- Hasans's direct connection ip --> 
    <!-- arg name="host_ip" default="169.254.250.191" / -->
    <!-- Wenzhi's workstation ip -->
    <!-- arg name="host_ip" default="10.157.90.62" /-->
    <param name="/ip_addr" value="$(arg host_ip)" />

    
    <!--- get rid of this if you wan to directly use octomap_world octomap/-->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="$(arg planning_resolution)" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="world" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="6" />

		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/points" />

		<!-- Filter ground for binary occupancy map -->
		<param name="base_frame_id" value="world" />
		<!-- <param name="filter_ground" value="true" />
		<param name="ground_filter_plane_distance" value="1.00" />
		<param name="ground_filter/distance" value="0.50" /> -->
	    <param name="pointcloud_min_z" type="double" value="-2.0" />
	    <param name="pointcloud_max_z" type="double" value="10.0" />
	    <param name="occupancy_min_z" type="double" value="-2.00" />
	    <param name="occupancy_max_z" type="double" value="10.0" />
        <!-- <param name="ground_filter_plane_distance" value="0.07" />
		<param name="ground_filter/distance" value="0.04" />
		<param name="ground_filter/angle" value="0.4" /> -->
	</node>




</launch>
