<launch>
    <node pkg="compare_octomaps" type="compare_octomaps" name="compare_octomaps" output="screen">
    <param name="first_map" value="/home/reddi-rtx/high_res_map_no_filter.ot"/>
    <param name="second_map" value="/home/reddi-rtx/high_res_map_2.ot"/>
    <param name="mode" value="volume_overlap"/>
    <param name="minX" value="0"/>
    <param name="minY" value="0"/>
    <param name="minZ" value="0"/>
    <param name="maxX" value="10"/>
    <param name="maxY" value="10"/>
    <param name="maxZ" value="10"/>
    <param name="resolution" value=".4"/>
    </node>

</launch>
